<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="tab1()">
      <ion-icon name="book"></ion-icon>
      <ion-label>Cardapio</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="tab2()">
      <ion-icon name="locate"></ion-icon>
      <ion-label>Mesas</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="tab4()">
      <ion-icon name="document"></ion-icon>
      <ion-label>Comanda</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="tab3()">
      <ion-icon name="person"></ion-icon>
      <ion-label>User</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
