<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mesas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="row" style="vertical-align: top;">
    <ion-row style="text-align: center;">
      <ion-card class="col-md-4" *ngFor="let mesa of listaMesa" style="width: 45%;margin:auto;position: relative;">
        <ion-card-title style="font-size: 15px;">
          <p>{{mesa.nome}}
          </p>
        </ion-card-title>
        <img src="{{imagem}}" style="width: 90%;">

        <div *ngFor="let garcon of listaGarcon">
          <ion-card-title *ngIf="garcon.id==mesa.id_garcon">
            <div>Garçon</div>
            <div>
              <img src="{{garcon.imagem}}" style="width: 30%; padding: 10px;">
              <a style="font-size: 10px;">{{garcon.nome}}</a>
            </div>
          </ion-card-title>
        </div>
        <ion-card-title>{{mesa.status}}</ion-card-title>
        <div *ngIf="mesa.status!='OCUPADA'">
          <ion-button color="primary" (click)="reservarMesa(mesa.id)">Reserva Mesa</ion-button>
        </div>
      </ion-card>
    </ion-row>
  </div>
</ion-content>