<ion-content>
    <ion-header [translucent]="true">
        <ion-toolbar>
            <ion-title>
                Produto
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <div class="row" style="vertical-align: top;">
        <ion-row style="text-align: center;">
            <ion-card class="col-md-4" *ngFor="let produto of produto"
                style="width: 45%;margin:auto;position: relative;">
                <img src="{{produto.imagem}}" style="width: 90%;">
                <ion-card-title style="font-size: 15px;">
                    <p>{{produto.nome}}
                    <p>
                </ion-card-title>
                <ion-card-subtitle *ngIf="produto.promocao=='SEM PROMOÇÃO'"
                    style="font-size: 15px; text-align: left;padding-left: 20px;">R${{produto.preco}}
                </ion-card-subtitle>
                <ion-card-subtitle *ngIf="produto.promocao=='EM PROMOÇÃO'"
                    style="font-size: 15px; text-align: left; padding-left: 20px;">R${{produto.valorPromocao}}
                </ion-card-subtitle>
                <ion-row>
                    <ion-col>
                        <ion-fab-button size="small" color="danger" style="width: 25px;height: 25px;"
                            (click)="debitar(produto.id)">-</ion-fab-button>
                    </ion-col>
                    <ion-col style="margin: auto; text-align: center; font-size: 18px;">
                        {{produto.quantidade}}
                    </ion-col>
                    <ion-col>
                        <ion-fab-button size="small" color="danger" style="width: 25px;height: 25px;"
                            (click)="adicionar(produto.id)">+</ion-fab-button>
                    </ion-col>

                </ion-row>
            </ion-card>
        </ion-row>
    </div>
   
</ion-content>
<ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="fazerPedido()">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>